@font-face {
    font-family: poke;
    src: url("../assets/fonts/Pokemon_GB.ttf");
}

body{
    font-family: poke;
    margin: 0;
    background-color: gray;
    font-size: 1.5rem;
}

#juego{
    max-width: 599px;
    height: 534px;
    background-color: whitesmoke;
    background-image: url("../assets/images/fondo.png");
    background-size: 100% 75%;
    image-rendering: pixelated;

}

#dialogo{
    padding: 0.2rem;
    height: 100%;
    margin-left: 1rem;
    
}

input{
    width: 288px;
    height: 100px;
    margin-top: 1rem;
    font-family: poke;
}

input:hover{
    background-color: blueviolet;
    color: black;
}

.PSY{
    background-color: rgb(255, 92, 233);
}

.FIGHT{
    background-color: rgb(133, 75, 0);
}

.DARK{
    background-color: rgb(31, 31, 31);
    color: aliceblue;
}

.NORMAL{
    background-color: aliceblue;
}

.GROUND{
    background-color: rgb(170, 134, 80);
}

.VENENO{
    background-color: rgb(66, 0, 128);
    color: aliceblue;
}

.ICE{
    background-color: rgb(194, 255, 250);
}

.AGUA{
    background-color: rgb(35, 164, 250);
}

.ELEC{
    background-color: rgb(253, 255, 110);
}

.ROCK{
    background-color: rgb(185, 167, 131);
}

.FIRE{
    background-color: rgb(255, 147, 6);
}

.GHOST{
    background-color: rgb(63, 21, 102);
    color: aliceblue;
}



img{
    width: 200%;
    image-rendering: pixelated;
}

.containerDialogo{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:400px;
    left:2px;
    width: 584px;
    height: 120px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
}


.barraVida>p{
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
}

.barraVida{
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    background-color: aliceblue;
}



#barraVidaEnemigo{
    position: absolute;
    top: 50px;
    left: 70px;
    min-width: 200px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    padding-top: 1.3rem;
}

.containerps{
    outline: 1px solid black;
    
}

#barraVidaAliado{
    position: absolute;
    top: 250px;
    left: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    padding-top: 1.3rem;
}

.PS{
    text-align: left;
    flex-wrap: wrap;
    margin-top: -1rem;
    padding: 0.3rem;
    display: flex;
    width: 100%;
    font-size: 0.7rem;
    align-items: center;
}

.nps{
    width: 100%;
    padding: 0.3rem;
    display: flex;
    margin:auto;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
}

.PS>div{
    width: 150px;
    height: 10px;
}

#ataques{
    position: absolute;
    left: 700px;
    top:120px;
}

#PSEnemigo{
    width: 100%;
    height: 10px;
}

#PSAliado{
    width: 100%;
    height: 10px;
}

.container{display: none;}

.elegir{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.poke{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 20.5%;
    margin: auto;
    margin: 1rem;
    border-radius: 30px;
    background-color: #EEEBEB;
}

.elegir__img{
    width: 100%;
}

.Titulo{
    text-align: center;
    margin: 3rem;
}