@font-face {
    font-family: poke;
    src: url("../assets/fonts/Pokemon_GB.ttf");
}

body{
    font-family: poke;
    margin: 0;
    background-color: gray;
    font-size: 1.5rem;
}

#juego{
    max-width: 599px;
    height: 534px;
    background-color: whitesmoke;
}

#dialogo{
    padding: 0.2rem;
    height: 100%;
    margin-left: 1rem;
    
}

input{
    width: 288px;
    height: 100px;
    margin-top: 1rem;
    font-family: poke;
}

input:hover{
    background-color: blueviolet;
    color: black;
}

img{
    width: 200%;
    image-rendering: pixelated;
}

.containerDialogo{
    background-color: white;
    position: absolute;
    top:400px;
    left:2px;
    width: 584px;
    height: 120px;
    border: 5px solid black;
    border-radius: 10px;
}

.psy{
    background-color: rgb(255, 92, 233);
}

.fight{
    background-color: rgb(133, 75, 0);
}

.sin{
    background-color: rgb(31, 31, 31);
    color: aliceblue;
}

.normal{
    background-color: aliceblue;
}

.barraVida{
    width: 200px;
    height: 5px;
    background-color: brown;
}

#barraVidaEnemigo{
    background-color: green;
}

#ataques{
    position: absolute;
    left: 700px;
    top:120px;
}

/* .container{display: none;} */

.elegir{
    display: flex;
    width: 80%;
    margin: auto;
}

.poke{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 30%;
    margin: 1rem;
    border-radius: 30px;
    background-color: #EEEBEB;
}

.elegir__img{
    width: 100%;
}

.Titulo{
    text-align: center;
    margin: 3rem;
}

.Config{
    display: none;
}